**/.DS_Store
**/__pycache__
**/.idea
**/node_modules
**/dist
**/build


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/*.log
back-end/tests/runs/*

back-end/runs
back-end/influence_list

launcher/build/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc