.chart-border {
  height: 100%;
  float: left;
}

.chart-border .chart-border-line {
  width: 1px;
  height: 100%;
}

.chart-border .num {
  transform: translateX(-50%);
}


.chart-line {
  width: 1px;
  height: 100%;
  float: left;
}

.chart-line ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.chart-line ul li {
  text-align: center;
  list-style: none;
  display: flex;
}

.chart-line ul li .box {
  position: absolute;
  width: 0;
  text-align: center;
  transition: width 1s;
}

.chart-line ul li .box-pos {
  left: 0;
}

.chart-line ul li .box-neg {
  right: 0;
}


