{% extends "menuBase.html" %}
{% block myapp %}
<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">RobuStar, visual interactive platform for robust vision machine learning</h1>
        <hr>
        <h5>Edit the below training image, brush out unrelated regions, and save the edit for future training.</h5>
<!--								<ol class="breadcrumb">-->
<!--									<li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--									<li class="breadcrumb-item active" aria-current="page">Sales Dashboard</li>-->
<!--								</ol>-->
    </div>
    <div class="ml-auto pageheader-btn">
        <div class="btn-list">
            <a href="#" class="btn btn-primary btn-icon text-white" data-toggle="tooltip" title="Next Image" data-placement="top">
                <span>
                    <i class="fe fe-arrow-right"></i>
                </span>
            </a>
            <a href="#" class="btn btn-orange btn-icon text-white" data-toggle="tooltip" title="Save Edit" data-placement="top">
                <span>
                    <i class="fe fe-upload"></i>
                </span>
            </a>
            <a href="#" class="btn btn-info btn-icon text-white" data-toggle="tooltip" title="Quick Train" data-placement="top">
                <span>
                    <i class="fe fe-codepen"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 -->
<div class="row">
    <div class="col-md-12">
        <div class="card  banner">
            <div class="card-body">
                <div class="row">
                    <style>
                        .augment-option li{
                            cursor: pointer;
                            color: white;
                            margin-top: 10px;
                        }
                        .augment-option li:hover{
                            color: yellow;
                        }
                    </style>
                    <div class="col-xl-4 col-lg-4 text-center augment-option">
                        <ul>
                            <li onclick="this.children[0].checked=!this.children[0].checked"><input type="checkbox"></input> Color</li>
                            <li onclick="this.children[0].checked=!this.children[0].checked"><input type="checkbox"></input> Contrast</li>
                            <li onclick="this.children[0].checked=!this.children[0].checked"><input type="checkbox"></input> Shape</li>
                            <li onclick="this.children[0].checked=!this.children[0].checked"><input type="checkbox"></input> Texture</li>
                            <li class="mouse-position"></li>
                            <script>
                                function handleMouseEvent(e){
                                    document.querySelector(".mouse-position").textContent=e.offsetX+","+e.offsetY;
                                }
                            </script>
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-center">
                        
                        <script src="js/fabric.js"></script>

                            <div id="bd-wrapper" ng-controller="CanvasControls"></div>

                            <canvas id="c" width="0" height="0" style="border:1px solid #aaa;"></canvas>

                            <div class="row col-xl-12 col-lg-12 text-center">
                                <button id="delete-selection" class="btn btn-white" hidden="hidden">Delete</button>
                                <div class="row col-xl-4 col-lg-4 text-center">
                                    <button id="change_edit_mode_button" class="btn btn-white">Exit Edit</button>
                                </div>
                                <div class="row col-xl-4 col-lg-4 text-center">
                                    <button id="clear-canvas" class="btn btn-white">Clear Edit</button> <!-- #todo this also delete the image? -->
                                </div>

                                <div class="row col-xl-4 col-lg-4 text-center">
                                    <div id="drawing-mode-options">

                                        <div class="btn btn-white">
                                            <!-- <label for="drawing-line-width" >Line width</label> -->
                                            <label>Pen Size</label>
                                            <input type="range" value="30" min="0" max="150" id="drawing-line-width">
                                        </div>

                                        <div hidden="hidden" style="display: none;">
                                            <label for="drawing-mode-selector" hidden='hidden'>Mode:</label>
                                            <select id="drawing-mode-selector" hidden='hidden'>
                                                <option>Pencil</option>
                                                <option>Circle</option>
                                                <option>Spray</option>
                                                <option>Pattern</option>
                                            </select><br>


                                            <label for="drawing-color" hidden='hidden'>Line color:</label>
                                            <input type="color" value="#FFFFFF" id="drawing-color" hidden='hidden'><br>

                                            <label for="drawing-shadow-color" hidden='hidden'>Shadow color:</label>
                                            <input type="color" value="#FFFFFF" id="drawing-shadow-color" hidden='hidden'><br>

                                            <label for="drawing-shadow-width" hidden='hidden'>Shadow width:</label>
                                            <span class="info" hidden='hidden'>0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width" hidden='hidden'><br>

                                            <label for="drawing-shadow-offset" hidden='hidden'>Shadow offset:</label>
                                            <span class="info" hidden='hidden'>0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset" hidden='hidden'><br>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <script src="freedraw.js"></script>


                        <br>
                        <canvas hidden='hidden' class="main-select-canvas" onContextMenu="return false"></canvas>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4">
                        <div class="btn-list mb-xl-0">
                            <a href="#" onclick="location.replace('edit?id='+(currrentEditImg-1))" class="btn btn-white mb-xl-0">Prev Image</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4">
                        <div class="btn-list mb-xl-0">
                            <a href="#" onclick="postCanvas();location.replace('edit?id='+(currrentEditImg+1))" class="btn btn-white mb-xl-0" id="skip">Save & Next Image</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4">
                        <div class="btn-list mb-xl-0">
                            <a href="#" onclick="location.replace('edit?id='+(currrentEditImg+1))" class="btn btn-white mb-xl-0" id="skip">Next Image</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW-1 End-->

<!-- Row -->
<div class="row interpretations">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col">
                        <p class="mb-1" style="text-align:center">Interpretation 1</p>
                        <p class="mb-1" style="text-align:center">Input Image</p>
                    </div>
                    <img src='/imgv/0/1' alt="img" class="w-95">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col">
                        <p class="mb-1" style="text-align:center">Interpretation 2</p>
                        <p class="mb-1" style="text-align:center">Gradients across RGB channels</p>
                    </div>
                    <img src='/imgv/1/1' alt="img" class="w-95">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col">
                        <p class="mb-1" style="text-align:center">Interpretation 3</p>
                        <p class="mb-1" style="text-align:center">Max gradients</p>
                    </div>
                    <img src='/imgv/2/1' alt="img" class="w-95">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col">
                        <p class="mb-1" style="text-align:center">Interpretation 4</p>
                        <p class="mb-1" style="text-align:center">Overlay</p>
                    </div>
                    <img src='/imgv/3/1' alt="img" class="w-95">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row-1 End -->
</div>
</div>
<!-- CONTAINER END -->
</div>
<script src="js/jquery-3.4.1.min.js"></script>


<script class='influence-loading'>

    var xhr = new XMLHttpRequest();
    function refreshInfluence(){
        xhr.open('POST', '/getinfluence/'+currrentEditImg+"/3/3");
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send();
    
        xhr.onload = () => {
            result=JSON.parse(xhr.responseText);
            if(result['success']==1){
                influence_div=document.querySelector(".influence-div");
                tempTitle=document.createElement("p")
                tempTitle.textContent="Three most harmful images"
                influence_div.appendChild(tempTitle)

                for(var i=0;i<result['harmful_list'].length;i++){
                    tempimg=document.createElement("img")
                    tempimg.setAttribute("src","/train/"+result['harmful_list'][i])
                    tempimg.setAttribute("onclick","location.replace('edit?id='+"+result['harmful_list'][i]+")")
                    influence_div.appendChild(tempimg)
    
                    templabel=document.createElement("label")
                    templabel.textContent=result['harmful_influence'][i].toFixed(2);
                    influence_div.appendChild(templabel)
                }
                tempTitle=document.createElement("p")
                tempTitle.textContent="Three most helpful images"
                influence_div.appendChild(tempTitle)
                for(var i=0;i<result['helpful_list'].length;i++){
                    tempimg=document.createElement("img")
                    tempimg.setAttribute("src","/train/"+result['helpful_list'][i])
                    tempimg.setAttribute("onclick","location.replace('edit?id='+"+result['helpful_list'][i]+")")
                    influence_div.appendChild(tempimg)
    
                    templabel=document.createElement("label")
                    templabel.textContent=result['helpful_influence'][i].toFixed(2);
                    influence_div.appendChild(templabel)
                }
            }
            console.log(result);
        }
    }
    </script>

<script>
    var currrentEditImg={{ trainid }};
    var imgURL;
    function updateCanvasImg(){
        mycanvas.clear()
        imgURL='/train/'+currrentEditImg
        addImage(imgURL,1)
    }
    function setCanvasImg(src){
        mycanvas.clear()
        addImage(src,1)
    }
    function updateInterpretation(){
        var visualImgs=document.querySelectorAll('.interpretations img')
        for(var i =0;i<4;i++){
            visualImgs[i].setAttribute('src','/imgv/'+i+'/'+Math.random())
        }
    }
    updateCanvasImg()
    $(document).ready(function(){
        refershChartData('/predictid'+imgURL)
        refreshInfluence();
        document.querySelectorAll("li")[3].click();//默认切换到展示图表的那一栏
    })
</script>


{% endblock %}