{% extends "menuBase.html" %}
{% block myapp %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">RobuStar, visual interactive platform for robust vision machine
            learning</h1>
        <hr>
        <h5>Select the training image to edit.</h5>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="col-md-12">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4" onclick="currentPage=Math.max(currentPage-1,0);loadTrainImgs()">
                <div class="btn-list mb-xl-0">
                    <a class="btn btn-blue mb-xl-0">Prev Page</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4">
                <div class="btn-list mb-xl-0">
                    <a onclick="currentPage=parseInt(document.querySelector('.page-number').value)-1; loadTrainImgs()" class="btn btn-blue mb-xl-0 refresh-page">Refresh Page <input class='page-number'></input></a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 text-lg-center mt-xl-4" onclick="currentPage++;loadTrainImgs()">
                <div class="btn-list mb-xl-0">
                    <a class="btn btn-blue mb-xl-0" id="skip">Next Page</a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    img{
        cursor:pointer;
    }
</style>

<!-- ROW-1 -->

<div class="row train-img-list">
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
    <div class="card-body col-xl-2 col-sm-4">
        <div class="row mb-1">
            <img src="images/pngs/profit.png" alt="img" class="w-95">
        </div>
    </div>
</div>
</div>
</div>
<!-- CONTAINER END -->
</div>

<script class="load-train-imgs">
    var currentPage=0;
    function loadTrainImgs(){
        var imgarr=document.querySelectorAll(".train-img-list img");
        console.log(imgarr.length)
        for(var i=0;i<imgarr.length;i++){
            imgarr[i].src="/train/"+(currentPage*18+i)
            imgarr[i].setAttribute("onclick","location.replace('edit?id='+(currentPage*18+"+i+"))")
        }

        document.querySelector(".page-number").value=currentPage+1
    }
    setTimeout(function(){ loadTrainImgs();}, 1000);
</script>

{% endblock %}