/* Global CSS here */

html,
body {
  /* background-color: rgb(206, 212, 218); */
  background-color: #f0f0f8;
  height: 100%;
  width: 100%;
  margin: 0;
}

#page-content {
  margin: 50px 0px 0px 40px;
  padding-left: 20px;
  width: 100%;
  right: 0;
  float: right;
}

a {
  text-decoration: none;
}
