# lib
pytest==7.2.1
webunit==1.3.10
Werkzeug==2.0.1

# Pytorch related
tensorboard==2.12.0

# Flask
flasgger==0.9.5
Flask==2.0.1

# Required for socketio
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
protobuf=3.20.0